<div *ngIf="product.title" class="card">
  <img  *ngIf="product.imageUrl" class="card-img-top" [src]="product.imageUrl">
  <div class="card-body">
    <h5 class="card-title">{{ product.title }}</h5>
    <p class="card-text">{{ product.price | currency:'EUR':code }}</p>
  </div>
  <div *ngIf="showActions" class="card-footer">
    <button
      class="btn btn-secondary btn-block"
      *ngIf="getQuantity() === 0; else updateQuantity"
      (click)="addToCart()">Add to Card</button>
    <ng-template #updateQuantity>
      <app-product-quantity [product]="product" [shopping-cart]="shoppingCart"></app-product-quantity>
    </ng-template>
  </div>
</div>
